<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %> | CSC317Project - Group L
    </title>
    <link rel="stylesheet" href="/css/style-auth.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    
    <header class="auth">
            <nav class="topbar">
                <ul class="top-nav-links">
                    <li><a href="/about" class="<%= path === '/about' ? 'active' : '' %>">About</a></li>
                    <li><a href="/user/profile" class="<%= path === '/user/profile' ? 'active' : '' %>">Profile</a></li>
                </ul>
                <div class="profile-avatar-top">
                    <% if (user.hasProfileImage) { %>
                      <img src="/user/profile-image" alt="Profile picture">
                    <% } else { %>
                      <!-- Display first letter of username as avatar -->
                      <span><%= user.username.charAt(0) %></span>
                    <% } %>
                  </div>
                <div class="searchbar"> 
                    <h2>I am a searchbar</h2>
                </div>
                
            </nav>
    </header>
    <main>
    <nav class="sidebar">
        <ul class="authed-nav-links">
            <li class="logo"><a href="../user/home"><img name="logo" src="/images/stockphoto-1135090585-1024x1024.jpg" alt="logo"></a></li>
            <li><a href="/user/home" class="<%= path === '/user/home' ? 'active' : '' %>">Home</a></li>
            <li><a href="/user/create" class="<%= path === '/user/create' ? 'active' : '' %>">Create</a></li>
            <li><a href="/user/settings" class="<%= path === '/user/settings' ? 'active' : '' %>">Settings</a></li>
        </ul>
    </nav>
    