<%- include('../partials/header-auth') %>


<!--Main Content Container  -->
<div class="container-auth">

 <div class="pin-grid">
   <% pins.forEach((pin) => { %>
     <a href="/pin/pinPage/<%= pin._id %>" class="pin-card">
       <!-- Added: Wrapper around image and save button -->
       <div class="pin-img-wrapper">
         <button class="save-btn">Save</button>
         <img
           src="/pin/get-image/<%= pin._id %>"
           alt="<%= pin.title || 'Pin Image' %>"
           title="<%= pin.title || 'Pin Image' %>"
           loading="lazy"
         >
       </div>
     </a>
   <% }); %>
 </div>
</div>


</main>
</body>
</html>